:root {
  --red: #ff5252;
  --dark-grayish-violet: #8e8593;
  --violet: #6448fe;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;

}

.error_message {
  color: var(--red);
}
.date_container, .ccv_container {
  display: grid; 
  grid-template-rows: 25% 42% 28%; 
  height: 100%; 
  width: 50%;
}
.date_container {
  grid-template-columns: 42.5% 5% 42.5%; 
}
.ccv_container {
  grid-template-columns: 50% 50%; 
}

.success__desc {
  color: var(--dark-grayish-violet);
  font-size: 1.2rem;
}

#date_label {
  grid-area: 1/1/1/4;
}
#cvc_label {
  grid-area: 1/1/1/2;
}

#month_input {
  grid-area: 2/1/3/2;
}
#year_input {
  grid-area: 2/3/3/4;
}
#cvc_input {
  grid-area: 2/1/3/3;
}

#date_error {
  grid-area: 3/1/4/4;
}
#cvc_error {
  grid-area: 3/1/4/2;
}

.attribution {
  text-align: center;
  font-size: 13px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.attribution a {
  color: var(--violet)
}

@media (min-width: 1440px) {
  #root{
    display: flex;
    position: relative;
    flex-direction: row;
  }
}